# Environment Mode & Port
NODE_ENV=development
PORT=5000

# Database Configuration
DATABASE_URL=mongodb+srv://musfiqurofficial1999_db_user:4mJEueMG6cjVI97k@cluster0.haydu7d.mongodb.net/?appName=Cluster0

# JWT Authentication Configuration
JWT_SECRET=super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=1d

# Allowed Client Origin for CORS & Cookies
CLIENT_URL=http://localhost:3000

# Seed Admin Credentials
ADMIN_EMAIL=admin@doctracker.com
ADMIN_PASSWORD=

# Rate Limiter Configuration (Window in Minutes & Max Attempt Limit)
RATE_LIMIT_WINDOW_MINS=5
RATE_LIMIT_MAX=5
